$prefix: 'eh';

@for $i from 12 through 48 {
  .#{$prefix}-fs#{$i} {
    font-size: #{$i}px !important;
  }


  .#{$prefix}-lh#{$i} {
    line-height: #{$i}px !important;
  }
}

@for $i from 5 through 40 {
  .#{$prefix}-margin#{$i} {
    margin:#{$i}px !important;
  }

  .#{$prefix}-padding#{$i} {
    padding:#{$i}px !important;
  }

  .#{$prefix}-m-l#{$i} {
    margin-left: #{$i}px !important;
  }

  .#{$prefix}-m-r#{$i} {
    margin-right: #{$i}px !important;
  }

  .#{$prefix}-m-lr#{$i} {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }

  .#{$prefix}-m-t#{$i} {
    margin-top: #{$i}px !important;
  }

  .#{$prefix}-m-b#{$i} {
    margin-bottom: #{$i}px !important;
  }

  .#{$prefix}-m-tb#{$i} {
    margin-top: #{$i}px !important;
    margin-bottom: #{$i}px !important;
  }

  .#{$prefix}-p-l#{$i} {
    padding-left: #{$i}px !important;
  }

  .#{$prefix}-p-r#{$i} {
    padding-right: #{$i}px !important;
  }

  .#{$prefix}-p-lf#{$i} {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }

  .#{$prefix}-p-t#{$i} {
    padding-top: #{$i}px !important;
  }

  .#{$prefix}-p-b#{$i} {
    padding-bottom: #{$i}px !important;
  }

  .#{$prefix}-p-tb#{$i} {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
  }
}

.#{$prefix}-tc {
  text-align: center !important;
}

.#{$prefix}-tl {
  text-align: left !important;
}

.#{$prefix}-tr {
  text-align: right !important;
}

.#{$prefix}-fl {
  float: left !important;
}

.#{$prefix}-fr {
  float: riaght !important;
}

.#{$prefix}-cl-both {
  clear: both !important;
}

.#{$prefix}-fw-b {
  font-weight: bold !important;
}

.#{$prefix}-absolute {
  position: absolute !important;
}

.#{$prefix}-relative {
  position: relative !important;
}

.#{$prefix}-fixed {
  position: fixed !important;
}

.#{$prefix}-flex {
  display: flex;
}

.#{$prefix}-f-sc {
  align-self: center;
}