@for $i from 1 through 30 {
  .fs#{$i} {
    font-size: #{$i}px !important;
  }

  .br#{$i} {
    border-radius: #{$i}px !important;
  }

  .l-h#{$i} {
    line-height: #{$i}px !important;
  }
}

@for $i from 1 through 40 {
  .margin#{$i} {
    margin:#{$i}px !important;
  }

  .padding#{$i} {
    padding:#{$i}px !important;
  }

  .m-l#{$i} {
    margin-left: #{$i}px !important;
  }

  .m-r#{$i} {
    margin-right: #{$i}px !important;
  }

  .m-lr#{$i} {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }

  .m-t#{$i} {
    margin-top: #{$i}px !important;
  }

  .m-b#{$i} {
    margin-bottom: #{$i}px !important;
  }

  .m-tb#{$i} {
    margin-top: #{$i}px !important;
    margin-bottom: #{$i}px !important;
  }

  .p-l#{$i} {
    padding-left: #{$i}px !important;
  }

  .p-r#{$i} {
    padding-right: #{$i}px !important;
  }

  .p-lf#{$i} {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }

  .p-t#{$i} {
    padding-top: #{$i}px !important;
  }

  .p-b#{$i} {
    padding-bottom: #{$i}px !important;
  }

  .p-tb#{$i} {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
  }
}

.tc {
  text-align: center !important;
}

.tl {
  text-align: left !important;
}

.tr {
  text-align: right !important;
}

.fl {
  float: left !important;
}

.fr {
  float: riaght !important;
}

.cl-both {
  clear: both !important;
}

.fw-b {
  font-weight: bold !important;
}

.absolute {
  position: absolute !important;
}

.relative {
  position: relative !important;
}

.fixed {
  position: fixed !important;
}